@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #161616;
    --foreground: #ffffff;

    --card: #2b2b2b;
    --card-foreground: #ffffff;

    --popover: #191919;
    --popover-foreground: #ffffff;

    --primary: #ffffff;
    --primary-foreground: #000000;

    --secondary: #3d3d3d;
    --secondary-foreground: #ffffff;

    --muted: #bfbfbf;
    --muted-foreground: #bfbfbf;

    --accent: #3d3d3d;
    --accent-foreground: #ffffff;

    --destructive: #ff0000;
    --destructive-foreground: #ffffff;

    --border: #3d3d3d;
    --input: #3d3d3d;
    --ring: #ffffff;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

